@font-face {
  font-family: "Bebas";
  src: url(../font/Bebas\ Neue.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}


:root {

  --text-white: #FFFFFF;
  --border-color: #E6E6E6;
  --color-gray: #48555B;
  --color-blue: #00A4E5;
  --color-black: #171819;
  --color-bgc-footer: #141A20;

  --transition-time: .3s;
  --media-pd-mob: 25px;
}


/* Мульти-блоки */
.main-style-link {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-white);
  transition: var(--transition-time);
}

.main-style-link:hover {
  color: var(--color-blue);
  text-shadow: 0 0 1.5px var(--color-blue);
}

.main-container {
  margin-inline: auto;
  max-width: 940px;
}

.content-style-title {
  color: var(--color-gray);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.306px;
  text-transform: uppercase;
}

.content-style-text {
  color: var(--color-gray);
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.188px;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 40px;
  text-wrap: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: var(--text-white);
  background-color: var(--color-blue);
  transition: .7s;
}

.hero-btn:hover {
  transform: scale(1.03);
  background-color: var(--color-gray);
  box-shadow: 0 0 8px var(--color-gray);
}


/* Шапка сайта */
.header {
  padding-top: 40px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(../img/bg.png)no-repeat top/cover;
  min-width: 100%;
  min-height: 768px;
}

.header__logo {
  min-width: 100px;
}

.header__wrapper-title {
  text-align: center;
  color: var(--text-white);
}

.header__title {
  padding-top: 87px;
  text-transform: uppercase;
  font-family: "Bebas";
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5.709px;
}

.header__subtitle {
  margin-top: -5px;
  font-size: 16px;
  font-weight: 600;
}

.header__scroll {
  display: inline-flex;
  letter-spacing: 3.7px;
}


/* Навиация */
.nav {
  border: 1px solid var(--border-color);
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 65px;
}

.nav__logo {
  max-width: 80px;
}

.nav__menu {
  display: flex;
  gap: 39px;
}

.nav__wrapper-link {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.091px;
  color: var(--color-gray);
}


/* Контейнер с главным контентом */
.main-content {
  padding-top: 55px;
  padding-bottom: 115px;
}

/* О компании */
.main-content__about {
  margin-bottom: 118px;
  display: grid;
  gap: 53px 80px;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "title title"
    "text banner";
}

.main-content__about-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
  text-align: center;
  color: var(--color-gray);
  grid-area: title;
  text-wrap: nowrap;
}

.main-content__about-title::after {
  content: "";
  display: block;
  margin-inline: auto;
  margin-top: 10px;
  max-width: 50px;
  min-height: 2px;
  background-color: var(--color-blue);
}

.main-content__about-wrapper-text {
  grid-area: text;
}

.main-content__about-subtitle {
  margin-bottom: 30px;
  color: var(--color-gray);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.188px;
}

.main-content__about-accent {
  color: var(--color-blue);
}

.main-content__about-banners {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: end;
  grid-area: banner;
}

.main-content__about-banner {
  padding: 15px;
  max-width: 140px;
  min-height: 224px;
}

.main-content__about-banner-text {
  color: var(--text-white);
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.188px;
  text-transform: uppercase;
}


/* Сервис */
.main-content__services-wrapepr-top {
  margin-bottom: 76px;
  display: flex;
  gap: 155px;
}

.main-content__services-title {
  text-wrap: nowrap;
}

.main-content__services-title::after {
  content: "";
  display: block;
  margin-top: 10px;
  max-width: 50px;
  min-height: 2px;
  background-color: var(--color-blue);
}

.main-content__services-wrapper-btn {
  display: flex;
  gap: 30px;
}

.main-content__services-text {
  font-size: 11px;
  line-height: 20px;
}

.main-content__services-wrapper-card {
  display: flex;
  gap: 28px;
}

.main-content__services-card {
  padding: 37px 22px;
  border: 1px solid var(--border-color);
}

.main-content__services-img {
  margin-bottom: 25px;
}

.main-content__services-card-title {
  margin-bottom: 13px;
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.427px;
  text-transform: uppercase;
}


/* Заявки */
.connection {
  min-height: 500px;
}

.connection__wrapper {
  padding-top: 122px;
  margin-inline: auto;
  max-width: 350px;
}

.connection__title {
  margin-bottom: 34px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--color-gray);
}

.connection__btn {
  margin-inline: auto;

}


/* Подписка на новости */
.subscription {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  min-height: 100px;
  background-color: var(--color-black);
}

.subscription__title {
  color: var(--text-white);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.846px;
}

.subscription__wrapper {
  display: flex;
}

.subscription__email {
  padding-left: 16px;
  display: inline-flex;
  min-width: 250px;
  background-color: var(--text-white);
}


/* Подвал */
.footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 240px;
  background-color: var(--color-bgc-footer);
  color: var(--text-white);
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.85px;
}

.footer::after {
  content: "© 2017 Konstruct Inc. Designed by Jane Kathryn Teo";
  position: absolute;
  padding: 0 var(--media-pd-mob);
  top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 60px;
  background-color: var(--color-black);
}

.footer__container {
  display: flex;
  gap: 71px;
}

.footer__company {
  max-width: 250px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 10px;
}

.footer__img {
  max-width: 100px;
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 0 30px;
  grid-template-areas:
    "link-title link-title link-title"
    "list-link-1 list-link-2 list-link-3";
}

.footer__links:first-child {
  grid-area: link-title;
}

.footer__title {
  margin-bottom: 25px;
  color: var(--text-white);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.846px;
  text-transform: uppercase;
}

.footer__list-links-1 {
  grid-area: list-link-1;
}

.footer__list-links-2 {
  grid-area: list-link-2;
}

.footer__list-links-3 {
  grid-area: list-link-3;
}

.footer__list-link {
  display: inline-block;
  font-weight: 600;
}

.footer__list-link:not(:last-child) {
  margin-bottom: 5px;
}

.footer__container-icon {
  padding-top: 37px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.footer__icon {
  fill: var(--text-white);
  min-width: 25px;
  aspect-ratio: 1;
  transition: var(--transition-time);
}

.footer__icon:hover {
  fill: var(--color-blue);
}