@media screen and (max-width: 1100px) {
  .header__wrapper-title {
    text-wrap: wrap;
  }

  .nav {
    padding: 0 80px;
  }

  .main-content {
    padding: 0 50px;
  }

  .main-content__about {
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "title"
      "text"
      "banner";
  }

  .main-content__services-wrapepr-top {
    flex-direction: column;
    gap: 30px;
  }

  .footer__container {
    padding: var(--media-pd-mob);
    /* justify-content: center; */
    flex-wrap: wrap;
  }

  .footer__list-link:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  .footer__links {
    max-width: 400px;
  }

  .footer__list-links-1 {
    max-width: 120px;
  }
}


@media screen and (max-width: 710px) {
  .hero-btn {
    max-width: 150px;
    min-height: 45px;
  }

  .header {

    padding-left: var(--media-pd-mob);
    padding-right: var(--media-pd-mob);
  }

  .header__title {
    margin-bottom: 20px;
  }

  .nav {
    padding: 15px var(--media-pd-mob);
  }

  .nav__container {
    gap: var(--media-pd-mob);
    flex-wrap: wrap;
  }

  .nav__menu {
    flex-wrap: wrap;
  }

  .main-content__about-banners {
    flex-direction: column;
    align-items: center;
  }

  .main-content__about-banner {
    min-width: 100%;
  }

  .main-content__services-wrapper-btn {
    flex-direction: column;
  }

  .main-content__services-wrapper-card {
    flex-direction: column;
  }

  .subscription {
    padding: var(--media-pd-mob) 0;
    flex-direction: column;
  }

  .subscription__wrapper {
    flex-direction: column;
  }

  .subscription__btn {
    min-width: 100%;
  }

  .subscription__email {
    padding: 11.5px;
  }

  .footer__container-icon {
    padding-top: 0;
  }

  .footer__container {
    justify-content: center;
  }
}